.slider-container {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    position: relative;
}

.slides-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60dvh;
    display: flex;
    position: relative;
    height: 220px;
}

.slide {
    background: #2196f3;
    color: white;
    border-radius: 12px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
 
    justify-content: center;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

h2 {
    margin: 0 0 0.5rem 0;
}

p {
    margin: 0 0 1rem 0;
    flex-grow: 1;
}

button {
    align-self: start;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: #e91e63;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ad1457;
}

.nav-btn {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #2196f3;
    transition: color 0.3s ease;
}

.nav-btn:hover {
    color: #0d47a1;
}

@media (max-width: 700px) {
    .slider-container {
        flex-direction: column;
    }
    .nav-btn {
        font-size: 1.5rem;
    }
    .slides-wrapper {
        height: auto;
    }
}